<footer class="footer">
  <nav class="scroll-arrow">
    <a class="go to header" href="#hero-container" title="Vuelve arriba">
      <img
        class="scroll-arrow-image"
        src="./assets/images/ico-arrow.svg"
        alt="flecha-arriba"
        title="flecha arriba"
    /></a>
  </nav>
  <nav class="articles">
    <ul class="links-articles">
      <li><a href="http://adalab.es" target="_blank" title="Go to articles">Articles</a></li>
      <li><a href="http://adalab.es" target="_blank" title="Go to books">Books</a></li>
      <li><a href="http://adalab.es" target="_blank" title="Go to events">Events</a></li>
      <li><a href="http://adalab.es" target="_blank" title="Go to reasons">Reasons</a></li>
      <li><a href="http://adalab.es" target="_blank" title="Go to tips">Tips</a></li>
    </ul>
  </nav>
  <nav class="twitter">
    <ul class="links-twitter">
      <li><a href="http://adalab.es" target="_blank" title="Go to Twitter">Twitter</a></li>
      <li><a href="http://adalab.es" target="_blank" title="Go to Instagram">Instagram</a></li>
      <li>
        <a href="http://adalab.es" target="_blank" title="Go to Mastodon.social">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <small>
    <div class="date">&copy 2017</div>
    <div>we <span class="heart">❤︎</span> components</div>
  </small>
</footer>
