<header>
  <div>
    <a class="menubox" href="http://adalab.es" target="_blank" title="Ir a Adalab">
      <img
        src="./assets/images/ico-menu.png"
        alt="menu"
        title="menu"
        a
        href="http://adalab.es"
        target="_blank"
        title="Ir a Adalab"
    /></a>
  </div>
  <div class="hero-container" id="hero-container">
    <div class="hero-text">
      <h1 class="hero-title">Anonymous Proxy</h1>
      <p class="hero-description">In hac habitasse platea dictumst.</p>
      <div class="hero-scroll">
        <a class="scroll-down" href="#section-reasons"
          ><img
            class="scroll-down-image"
            src="./assets/images/ico-scroll-down.svg"
            alt="scroll-down"
            title="Bajar a reasons"
        /></a>
      </div>
    </div>
  </div>
</header>
