// fonts
$font-primary: "Roboto", sans-serif;
$font-secundary: "Roboto Slab", serif;

// colors
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-white: #ffffff;
$color-k: #000000;
$color-orange: #f26002;
$color-blue: #0271bc;
$color-greybrown: #4a4a4a;
$color-lightblue: #8ccbea;
$color-iceblue: #eff9ff;
$color-greyblue: #304268;
