.footer-container {
  background-color: $color-greyblue;
  height: 465px;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  color: $color-white;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.scroll-arrow {
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translate(139px, -21px);
}
.scroll-arrow-image {
  padding: 11px 11px 10px 13px;
}
.articles {
  text-transform: uppercase;
  padding: 37px 0 30px 0;
}
.twitter {
  text-transform: uppercase;
  padding-bottom: 30px;
}
.heart {
  color: $color-orange;
}

@media all and (min-width: 768px) {
  .footer-container {
    flex-direction: row-reverse;
    height: 240px;
    padding: 45px 39px 45px 39px;
    text-align: start;
    justify-content: space-between;
  }
  .scroll-arrow {
    transform: translate(-311px, -69px);
  }
  .articles {
    position: relative;
    padding: 0 45px;
    right: 34%;
  }
  .twitter {
    position: relative;
    left: 34%;
  }
  .small {
    width: 210px;
  }
  .date {
    font-size: 14px;
  }
}
@media all and (min-width: 1280px) {
  .footer-container {
    padding: 45px 370px;
  }
  .small {
    width: 560px;
  }
  .scroll-arrow {
    transform: translate(-253px, -70px);
  }
  .articles {
    width: 161px;
  }
  .twitter {
    width: 159px;
  }
}
