.section-intro {
  margin: 0 15px;
  padding: 30px 0 45px 0;
}
.section-top {
  width: 90px;
  height: 30px;
  color: $color-lightblue;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 30px;
}
.section-title {
  font-family: $font-secundary;
  font-size: 24px;
  font-weight: bold;
}
.section-description {
  font-family: $font-primary;
  color: $color-greybrown;
  font-size: 18px;
  line-height: 1.67;
  padding: 15px 0 30px 0;
}
.buttom-go {
  width: 76px;
  height: 45px;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 20px;
  border-radius: 22.5px;
  color: $color-orange;
  border: solid 2px $color-orange;
  background-color: $color-white;
  padding: 6px 25px 6px 26px;
}
.section-reasons {
  background-color: $color-iceblue;
  height: 624px;
  display: grid;
  padding: 30px 15px 60px 15px;
  grid-template-columns: 55px 180px 55px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 35px;
}
.reasons-title {
  font-family: $font-secundary;
  font-weight: bold;
  font-size: 24px;
  grid-column: 1/4;
  text-align: center;
  padding: 10px;
}
.reason-subtitle {
  font-family: $font-secundary;
  font-size: 18px;
  font-weight: bold;
}
.reason-one,
.reason-two,
.reason-three {
  grid-column: 2;
  font-family: $font-secundary;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.more-reasons {
  background-color: $color-orange;
  grid-column: 2;
  font-family: $font-primary;
  font-size: 20px;
  padding-top: 10px;
  height: 45px;
  width: 184px;
  text-align: center;
  align-self: end;
  color: $color-white;
  border-radius: 22.5px;
}
@media all and (min-width: 768px) {
  .section-intro {
    margin: 0 39px;
    padding-bottom: 68px;
  }
  .section-title {
    font-size: 26px;
  }
  .section-description {
    font-size: 20px;
    padding: 30px 0 38px 0;
  }
  .buttom-go {
    width: 91px;
    height: 45px;
    padding: 8px 32.5px 8px 33.5px;
  }
  .section-reasons {
    height: 397px;
    display: grid;
    padding: 0px 40px 0px 37.5px;
    grid-template-columns: 213px 213px 213px;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 27.7px;
    row-gap: 0;
  }
  .reasons-title {
    font-size: 26px;
    line-height: 45px;
    padding: 30px 0 45px 0;
  }
  .reason-subtitle {
    font-size: 24px;
  }
  .reason-one {
    grid-column: 1;
    font-size: 20px;
  }
  .reason-two {
    grid-column: 2;
    font-size: 20px;
  }
  .reason-three {
    grid-column: 3;
    font-size: 20px;
  }
  .reason-container {
    padding-top: 14px;
  }
  .more-reasons {
    width: 210px;
    margin-bottom: 60px;
  }
}
@media all and (min-width: 1200px) {
  .section-intro {
    margin: 60px 275px;
  }
  .section-top {
    font-size: 16px;
  }
  .section-title {
    font-size: 32px;
    line-height: 45px;
  }
  .section-description {
    font-size: 20px;
  }
  .buttom-go {
    font-size: 20px;
    padding: 10px 68px;
  }
  .section-reasons {
    padding: 60px 81.2px;
    height: 427px;
    grid-template-columns: 353.8px 353.8px 353.8px;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 26.2px;
  }
  .reasons-title {
    font-size: 32px;
  }
  .reason-one,
  .reason-two,
  .reason-three {
    font-size: 20px;
  }
  .more-reasons {
    width: 255px;
    height: 45px;
    text-transform: capitalize;
    margin: 0 45px;
  }
}
