@import "core/variables";
@import "core/reset";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

.btn {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}

.hero-container {
  background-image: url(../images/cover.jpg);
  height: 568px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.hero-text {
  margin: 0 15px;
  padding-top: 184px;
}
.hero-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  line-height: 55px;
}
.hero-description {
  text-align: center;
  color: white;
  font-family: "Roboto", serif;
  font-size: 16px;
  margin-top: 10px;
}
.hero-scroll {
  display: flex;
  justify-content: center;
  padding-top: 53px;
}
.scroll-down {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.scroll-down-image {
  align-items: center;
  position: absolute;
  padding: 18px 12px 15px 13px;
}
.section-intro {
  margin: 0 15px;
  padding: 30px 0 45px 0;
}
.section-top {
  width: 90px;
  height: 30px;
  color: #8ccbea;
  font-family: "Roboto", serif;
  font-size: 14px;
}
.section-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}
.section-description {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 1.67;
  padding: 15px 0 30px 0;
}
.btn-go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  font-family: "Roboto Slab", serif;
  color: #f26002;
  font-size: 20px;
  border: solid 2px #f26002;
  background-color: white;
}
.section-reasons {
  background-color: #eff9ff;
  height: 624px;
  display: grid;
  padding: 30px 15px 60px 15px;
  grid-template-columns: 55px 180px 55px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 35px;
}
.reasons-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 10px;
}

.reason-one,
.reason-two,
.reason-three {
  grid-column: 2;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.btn-reasons {
  background-color: #f26002;
  height: 45px;
  color: white;
  border-radius: 22.5px;
  font-family: "Roboto", serif;
  font-size: 20px;
  grid-column: 2;
}
.footer {
  background-color: #304268;
  color: white;
  line-height: 30px;
  text-align: center;
  padding: 10px 0 45px 0;
}
.articles,
.twitter {
  font-size: 16px;
  text-transform: uppercase;
}
.articles {
  height: 150px;
}
.twitter {
  height: 90px;
}

.heart {
  color: #f26002;
}
.scroll-arrow {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.scroll-arrow-image {
  align-items: center;
  padding: 11px 11px 10px 13px;
}
